<table>
        <thead>
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let comp of companyData">
            <td>{{comp.compCode}}</td>
            <td>{{comp.compName}}</td>
            <td>
              <a class="btn-floating btn waves-effect waves-light blue darken-3">
              <i class="material-icons small">mode_edit</i>
              </a>
            </td>
             <td><i class="material-icons">delete</i></td>
          </tr>
         
        </tbody>
      </table>